#
# Rebuild our RSS feeds every two minutes, if they've changed
#
*/2 * * * * cd ~/current && ./bin/gen-feeds         >/dev/null

#
# Ensure that our search indexes are current.
#
0 0 * * * cd ~/current && ./bin/build-search-index  >/dev/null
