#footer {
    color: black;
    background-color: white;
    text-align: center;
    border-top: 1px solid black;
}

h1 { font-size: 2.20em; }
h2 { font-size: 1.90em; }
h3 { font-size: 1.55em; }
h4 { font-size: 1.30em; }
h5 { font-size: 1.10em; }
h6 { font-size: 1.00em; }

img {
        border-style: none;
}

h1, h3, h4, h5, h6 {
        color: black;
        font-weight: bold;
        margin-bottom: 0;
        text-align: left;
        margin-left: 4px;
        font-family: Georgia, "Hoefler Text", "DejaVu Serif", "Bistream Vera Serif", "Lucida Bright", serif;
}
h3 a {
        text-decoration: none;
}



a {
        text-decoration: none;
        color: #cc0033;
}

a:link {
        color: #cc0033;
        text-decoration: none;
}
a:visited {
        color: #cc0033;
}
a:hover {
        text-decoration: none;
        color: red;
}

a:active {
        color: #fff;
        background: transparent;
}

dt {
   font-weight:bold;
}
#header {
        height:110px;
        background-color: white;
        border-bottom:1px solid black;
	background-image: url(/images/logo.png);
	background-repeat: no-repeat;
	padding-left:120px;
}

#header h1, #header h1 a, #header h1 a:hover {
    color: black !important;
    text-decoration: none !important;
}

#header ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
#header li {
    float:left;
}
#header ul li a:link {
    display:block;
    width:110px;
    font-weight:bold;
    color:black;
    background-color:white;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
#header ul li a:hover, #header ul li a:hover {
    background-color:#cc0033;
}


#signup {
   text-align:right;
   float:right;
   height:26px;
   float:left;
   background: #fefefe;
   width:100%;
   border:1px dotted grey;
}

#logo {
        float:left;
}

#logo h1{
        font: 14px Georgia, "Hoefler Text", "DejaVu Serif", "Bistream Vera Serif", "Lucida Bright", serif;
        font-size:26px;
        color:#F76B0C;
        font-weight:normal;
        text-decoration:none;
        margin-left: 40px;

}
#logo h1 a {
        text-decoration: none;
}
#logo h4 {
        font: 14px Georgia, "Hoefler Text", "DejaVu Serif", "Bistream Vera Serif", "Lucida Bright", serif;
        font-size:11px;
        color:#808080;
        font-weight:normal;
       text-decoration:none;
        padding-left:75px;
}

#links ul {
        margin:0px; 
        padding-top:80px;
        float: right;
}

#links li{
        float:left;
        list-style-type:none;
        width:129px;
        height:25px;
        text-align:center;
        background-color:#f0f0f0;
        border-left:1px solid black;
        border-top:1px solid black;
        padding-top:4px;
}
#links li:hover {
        background-color: silver;
}
#links a{
        display: block;
        font: 14px  Georgia, "Hoefler Text", "DejaVu Serif", "Bistream Vera Serif", "Lucida Bright", serif;
        font-size:11px;
        color: #cc0033;
        font-weight: bold;
        text-decoration: none;
}

#links a:hover {
        color: red;
}


#advert, #poll, #headlines, #contribute, #blogs, #tipbox, #flattr
{
    background-color: white;
    border: 1px solid #cc0033;
    margin: 2px;
    padding:5px;
    width:80%;
}
#advert h3, #poll h3, #headlines h3, #contribute h3, #blogs h3 , #tipbox h3, #flattr h3
{
	font-size: 110%;
        border-bottom: 1px solid #cc0033;
        margin-left:0em;
}

#advert ul, #poll ul, #headlines ul, #contribute ul, #blogs ul , #tipbox ul, #flattr ul {
    list-style-type:none;
}





/*
 * Special styling for the comments upon weblogs, polls, or articles.
 */
div.indent {
        margin-left: 25px;
}

div.comment {
	border-left: 1px solid #ddd;/*1px solid rgb(128, 128, 128);*/
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
        background-color: white;
        margin: 5px 0px;
}

div.comment div.body {
	padding: 10px 10px;
        border-bottom: 1px solid #ddd;
}

div.comment .title {
        background-color: #ddd;
	font-weight: bold;
	font-size: 110%;
	padding: 5px;

}
div.comment .link {
	float: right;
        padding-top: 0.25ex;
        padding-right: 0.5em;
}

div.comment div.tagline {
        text-align: right;
	border-bottom: 1px solid #ddd;
	font-size: 96%;
	padding: 0.26ex 10px !important;
}

div.comment p.foot {
        margin: 0px;/* p tag has its own default margin, so remove it*/
        padding: 0.25ex 0.5em;
        font-size: 96%;
       background-color: #ddd;
       text-align: right;
}

/*
 * Special markup for the articles.
 */
div.article .title {
	font-size: 110%;
        border-bottom: 1px solid #cc0033;
	padding: 0;

}

div.article div.tagline {
	font-style: italic;
	font-size: 80%;
	text-align: right;
}

div.article div.tags {
	font-style: italic;
	font-size: 80%;
	text-align: right;
}


/*
 * Special styling for the front page.
 */
div.teaser {
   text-align: justify;
}

div.teaser div.body {
}

div.teaser .title {
	font-size: 110%;
    border-bottom: 1px solid #cc0033;
padding: 0;
margin-bottom: 0px;
}

div.teaser .title a {
	color: black !important;
	text-decoration: none !important;
}

div.teaser .title a:hover {
	color: black !important;
	text-decoration: none !important;
}
div.teaser .title a:visited {
	color: black !important;
	text-decoration: none !important;
}

div.teaser div.tagline {
	font-style: italic;
	font-size: 80%;
	text-align: right;
}

div.teaser div.tags {
	font-style: italic;
	font-size: 80%;
	text-align: right;
}
div.teaser div.readmore {
	font-size: 80%;
	text-align: right;
}


div.weblogs {
}
div.weblogs div.body {
       text-align: left;
       padding-top: 2px;
       padding-bottom: 5px;
}
div.weblogs div.title {
       font-size: 90%;
}

div.weblogs div.title a {
       color: black !important;
       text-decoration: none !important;
}
div.weblogs div.title a:hover {
       color: red !important;
       text-decoration: underline !important;
}
div.weblogs div.tagline {
       text-align: right;
       font-size: 80%;
       font-style: italic;
}
div.weblogs div.comments {
       text-align: right;
       font-size: 80%;
       font-style: italic;
}

div.weblogs div.comments  a {
       color: black !important;
       text-decoration: none !important;
}

div.weblogs div.comments a:hover {
       color: black !important;
       text-decoration: underline !important;
}

/*
 * Special markup for weblog entries.
 */
div.weblog {
       border-left: 1px solid rgb(128, 128, 128);
       border-right: 1px solid rgb(128, 128, 128);
       border-top: 1px solid rgb(128, 128, 128);
       border-bottom: 1px solid rgb(128, 128, 128);
       background-color: white;
       margin: 5px 0px;
}

div.weblog div.body {
       padding: 10px 10px;
}

div.weblog div.links {
        text-align: right;
        padding: 4px;
        background-color: #ddd;
        border-top: 1px solid;
}

div.weblog .title {
       background-color: #ddd;
       border-bottom: 1px solid rgb(128, 128, 128);
       font-weight: bold;
       font-size: 110%;
       padding: 0.26ex 10px;

}
div.weblog div.title a {
       color: black !important;
       text-decoration: none !important;
}
div.weblog div.title a:hover {
       color: black !important;
       text-decoration: none !important;
}

div.weblog .link {
       background-color: #ddd;
       text-align: right;
}

div.weblog div.tagline {
       text-align: right;
       border-bottom: 1px solid #ddd;
       font-size: 96%;
       padding: 0.26ex 10px !important;
}
div.weblog div.tags {
       font-style: italic;
       font-size: 80%;
       text-align: right;
}

pre {
       overflow:       auto;
       background:     white;
       border:         solid;
       border-width:   thin;
       padding: 5px  10px;
}

pre.terminal { background: black; color: white; padding: 1em; font-size: 90% ; overflow: auto; font-family: courier; }
pre.terminal span.prompt { font-weight: bold; color: #f00; }
pre.terminal span.input { font-weight: bold; color: #afa; }
pre.terminal span.hiddeninput { font-style: italic; color: #afa; }






/* --------
  The CSS rules offered here are just an example.
 --------- */

/* --- Page Structure  --- */
html, body {
    height:100%;
    color: white;
    margin: 0px;
    padding:0px;
}

body {
  min-width:720px;
  width:100%;
  height:101%;
  background:white;
  color:black;
  font-family: Georgia, "Hoefler Text", "DejaVu Serif", "Bistream Vera Serif", "Lucida Bright", serif;

}
#wrapper{
  padding:10px 2.5%;
  border:1px solid #ccc;
  text-align:left;
  overflow: hidden
}
#content {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  overflow: hidden
}
#container {
  float:left;
  width:98%;
  margin-right:-230px;
  position:relative;
  /*min-height:0;*/ /* hasLayout prevents jumping content in IE */
}
#inner {
  float:right;
  width:100%;
}
#main{
padding: 5px;
  margin-right:230px;
  position:relative; /* for IE */
  min-height:0; /* IE7 hasLayout */
}
#rightcol{
  float:right;
  display:inline;
  width:225px;
  position:relative;
  overflow:hidden
}

.slide {
  position:relative;
  color: black;
  top:0;
  right:0;
  float:left;
  width:100%;
  padding-bottom:2em;
  padding-left:1em;
  z-index:9
}
.trigger {
  position:absolute;
  top:1px;
  right:1px;
  width:3.9em;
  font-weight:700;
  text-align:center;
  z-index:10
}

/* --- Links --- */
a.trigger, a:link.trigger, a:visited.trigger {
  padding:0 7px;
  border-style:solid;
  border-width:2px;
  background:#f0f0f0 none;
}
a:hover.trigger, a:focus.trigger, a:active.trigger {border-color:#b3c5db}

a.collapsed, a:link.collapsed, a:visited.collapsed {background:#000 none; color:#dfdfff}

a:hover.collapsed, a:focus.collapsed, a:active.collapsed {color:#fff}

a.switch.selected {color:#ff5900}

