/* Defining print style for www.Debian-Administration.org.
 *
 * Copy freely if you wish, give credit to the source if you can.
 *
 * Steve
 * --
 * http://www.steve.org.uk/
 * 
 * $Id: print.css,v 1.4 2006-02-13 13:17:22 steve Exp $
 *
 */

/* Color documentation
 * Debian red - rgb(215, 7, 51);
 * Links bar blue - rgb(56,81,150)
 */

/*
 * General purpose stylings
 * Take them to top so that new rules can override these
 */

 
a:link, a:visited { 
                    color: #520;
                    text-decoration: underline;
                    background: transparent;
                    font-weight: bold;
}
 

h1 {
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 175%;
	letter-spacing: -2px;
	color: black;
	padding: 0;
	margin: 0;
	margin-top: 1em;
}

dt {
	font-weight: bold;
}

pre {
      overflow:	auto;
      background:	rgb(255,255,255);
      border-left:	4px solid rgb(220, 220, 220);
      padding: 5px  10px;
      margin: 5pt 5%;
      font-size: 10pt;
}

img {
	border: none;
}

#logo {
	text-align: center;
}


/* Colour here is for the menu */
#header { display: none; }

.midHeader {
             margin: 0;
             padding: 0.26ex 10pt;
             border-bottom:  2px solid rgb(56,81,150);
             background: transparent url("/images/logo.png") center left no-repeat;
/* No background printing by default. If chosen, logo prints ;) */
}

.subHeader { 
             display: none;
}

/*
 *  Main body.
 */

body {
       background-color: white;
       color: black;
       font-size: 12pt;
       margin: 0;
       font-family: Helvetica, Arial, sans-serif;
       }

#mainContent {
               margin-top: 0px;

               padding: 0 10px;
               background-color: white;
               color: black;
               }


/*
 * Styling for the two side columns, and their contained items.
 */
div#sidebar {
              display:none;
}

div#rightbar {
               display:none;
}


/* ##### Footer ##### */
#footer {
	color: rgb(100,100,100);
	font-size: 80%;
	text-align: center;
	margin: 0;
	padding: 1em 4mm 1em 4mm;
	clear: both;
	border-top: 1pt solid rgb(216,210,195);
}

#footer div {
	margin: 0;
	padding: 0 0 1ex 0;
}

div#rightbar div.more {
	text-align: right;
}

div.row { display: none;
          }
div.row span.left {
	float: left;
	text-align: left;
	color: #fff;
	width: 49%;
}

div.row span.right {
	float: right;
	text-align: right;
	color: #fff;
	width: 49%;
}

div.spacer {
	clear: both;
}


/*
 * Special styling for the front page.
 */
div.teaser {
   text-align: justify;
}

div.teaser div.body {
}

div.teaser .title {
	font-family: Verdana,  Arial, sans-serif;
	font-size: 110%;
        border-bottom: 2px solid #06c;
	padding: 0;
        margin-bottom: 0px;	
}


div.teaser div.tagline {
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	font-size: 70%;
	text-align: right;
}
/*taglines are small, using <p> tag gives unnecessary top and bottom margins*/
div.tagline p, div.tags{ margin: 0;
               font-size: 8pt;
               }

div.teaser div.tags {
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	font-size: 70%;
	text-align: right;
}
div.teaser div.readmore {
	font-family: Verdana, Arial, sans-serif;
	font-size: 80%;
	text-align: right;
}



/*
 * Special markup for the articles.
 */
div.article { 
              font-size: 12pt;
}
div.article h2{ font-size: 17pt;
                }

div.article h3{ font-size: 14pt;
                }

div.article h2.title{
                      font-size: 20pt;
                      margin-bottom: 4pt;
                      }
div.article .title {
                     font-family: Verdana, Arial, sans-serif;
                     font-size: 14pt;
                     border-bottom: 2px solid #06c;
                     padding: 0;
                     }

div.article div.tagline {
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	text-align: right;
}

div.article div.tags {
	font-style: italic;
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	text-align: right;
}


/*
 * Special markup for the recent page. -- not printing
 */

/*
 * Special markup for the recent weblogs on the front page.
 */
div.weblogs {
}

div.weblogs div.body {
	text-align: left;
	padding-top: 2px;
	padding-bottom: 5px;
}
div.weblogs div.title {
	font-size: 90%;
}

div.weblogs div.tagline {
	text-align: right;
	font-size: 80%;
	font-style: italic;
}

/*
 * Special markup for weblog entries.
 */
div#content h1 { font-size: 14pt;
                 text-align: right;
                 }
div.weblog {

}

div.weblog div.body {
	padding: 0.26ex 10px;
}

div.weblog .title {
	background-color: #eee;
	border-bottom: 1px dotted rgb(128, 128, 128);
	font-weight: bold;
	font-size: 120%;
	padding: 0.26ex 10px;
	
}
div.weblog .link {
                   display: none;
}

div.weblog div.tagline {
	font-style: italic;
	font-size: 80%;
	text-align: right;
	padding: 0.26ex 10px;
}



/*
 * Special styling for the comments upon weblogs, polls, or articles.
 */
div.comment {
              border-left: 4pt solid #ddd;
              border-right: 1pt solid #ddd;
              border-top: 1pt solid #ddd;
              border-bottom: 1pt solid #ddd;
              background: url("/images/comment-shade.png") top left repeat-x;
              margin: 5pt 0px;
              font-size: 11pt;
              font-family: Helvetica, Arial, sans-serif;
}

div.comment div.body {
	padding: 10px 10px;
        border-bottom: 1px solid #ddd;
}

div.comment .title {
        background: url("/images/comment-bg30.png") top left no-repeat;
	font-weight: bold;
	font-size: 14pt;
	padding: 3pt 5pt 0pt 5pt;
	
}
div.comment .link { display:none;
}

div.comment div.tagline {
	font-style: italic;
	text-align: right;
	border-bottom: 1px solid #ddd;
	font-size: 9pt;
	padding: 2pt 5pt;
}

div.comment p.foot { display: none;
}

div.menubar ul {
	border-bottom: 1px solid #6bf;
	margin: 0pt;
	padding-top: 12px;
	list-style-type: none; 
	text-align: center;
}

/* Kill adverts as they mess up print version */

.advert { display: none; }

/* Avoid the "next" + "previous" links. */
.navigation { display: none; }
