<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <!-- tmpl_var name='metadata' -->
    <!-- tmpl_if name='canon' -->
    <link rel="canonincal" href="<!-- tmpl_var name='canon' escape='html' -->" />
    <!-- /tmpl_if name='canon' -->

    <!-- tmpl_if name='title' -->
    <title><!-- tmpl_var name='title' --></title>
    <!-- tmpl_else -->
    <title>Debian Administration - Debian Administration Resources</title>
    <!-- /tmpl_if -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.socialshareprivacy.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css" />
    <link rel="stylesheet" type="text/css" href="/css/view.css" media="screen" title="Site Layout" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80553159-8', 'auto');
      ga('send', 'pageview');

    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>


    <nav class="navbar">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand pull-left" href="/" ><img height="75" width="75"  src="/images/logo.png" alt="logo"></a>
	  </div>
	  <ul class="nav navbar-nav">
	    <li><a href="/">Home</a></li>
	    <li><a href="/about/Debian%20Administration">About</a></li>
	    <li><a href="/archive/">Archive</a></li>
	    <li><a href="/about/FAQ">FAQ</a></li>
	    <li><a href="/tag">Tags</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
	    <form class="navbar-form navbar-left" role="search" action="/search/" method="post">
	      <div class="form-group">
                <input type="hidden" name="mode" value="article_search">
		  <input type="text" name="q" class="form-control" placeholder="Search.." />
		</div>
		<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search">&nbsp;</span></button>
	      </form>
	      <!-- tmpl_if name='logged_in' -->
	      <li class="dropdown">
		<a class="dropdown-toggle" href="#" data-toggle="dropdown"><!-- tmpl_var name='username' --><strong class="caret">&nbsp;</strong></a>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="/users/<!-- tmpl_var name='username' -->"><i class="icon- glyphicon glyphicon-user">&nbsp;</i> Profile</a></li>
		  <li><a href="/edit/prefs"> <i class="icon- glyphicon glyphicon-cog">&nbsp;</i> Options</a></li>
		  <li><a href="/users/<!-- tmpl_var name='username' -->/weblog"><i class="icon- glyphicon glyphicon-book">&nbsp;</i> Blog</a></li>
		  <li><a href="/logout/<!-- tmpl_var name='session' -->"><i class="icon- glyphicon glyphicon-off">&nbsp;</i> Logout</a></li>
		</ul>
	      </li>
	      <!-- /tmpl_if -->
	    </ul>
	  </div>
	</nav>

<p>&nbsp;</p>
	<div class="container-fluid">

          <div class="row">
	    <div class="col-md-1">
            </div>
	    <div class="col-md-9">
              <!-- tmpl_if name='ok_flash' --> <div class="alert alert-success"><!-- tmpl_var name='ok_flash' --></div><!-- /tmpl_if -->
              <!-- tmpl_if name='error_flash' --> <div class="alert alert-danger"><!-- tmpl_var name='error_flash' --></div><!-- /tmpl_if -->
              <div class="alert alert-danger">This site is <a href="/article/730/This_site_is_going_to_go_read-only">now 100% read-only</a>, and retired.</div>

              <!-- tmpl_include name='###' -->

            </div>
            <div class="col-md-2">
              <p>&nbsp;</p>
              <!-- tmpl_if  name="show_adverts" -->
              <div class="advert">
                <h3>Sponsored Links</h3>
                <p></p>
                <div align="center">
                  <script type="text/javascript"><!--
					             google_ad_client = "pub-1910202134166551";
					             //200x90, created 08/12/07
					             google_ad_slot = "2315151555";
					             google_ad_width = 200;
					             google_ad_height = 90;
					             //--></script>
                  <script type="text/javascript"
	                  src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                  </script>
                </div>
                <!-- tmpl_unless name="logged_in" -->
                <p><a href="/about/FAQ%20:%20Site%20Adverts">Why are these adverts here?</a></p>
                <!-- /tmpl_unless -->
              </div>
              <!-- /tmpl_if -->
            </div>
          </div>
          <div id="footer">
            <p>&nbsp;</p>
            <p>Articles and comments are the property of their respective posters.</p>
            <p>Trademarks are the property of their respective owners.<br />  Debian is <a
										           href="http://tarr.uspto.gov/servlet/tarr?regser=serial&amp;entry=75386376&amp;action=Request+Status">a registered trademark</a> of <a href="http://www.spi-inc.org">Software in the Public Interest, Inc</a>.</p>
            <p>Copyright <a href="https://steve.kemp.fi/">Steve Kemp</a> 2004-2017.<br />Site hosting provided by <a href="http://www.bytemark.co.uk/">Bytemark Hosting</a>.</p>
            <p><a href="/about/Syndication">Article Feeds in Atom, RSS, &amp; RDF formats</a></p>
          </div>
        </body>
      </html>
