<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en" />
  <!-- tmpl_var name='metadata' -->
  <!-- tmpl_var name='stylesheet' -->
<!-- tmpl_if name='title' -->
  <title><!-- tmpl_var name='title' --></title>
<!-- tmpl_else -->
  <title>Debian Administration - Debian Administration Resources</title>
<!-- /tmpl_if -->
  <!--[if lte IE 6]>
   <style type='text/css'>
    * html #main, * html #container {height:1%}
   </style>
  <![endif]-->
  <!--[if !lt IE 6]><!-->

<!-- jQuery: remotely, then locally -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.9.0.min.js">\x3C/script>')</script>

    <link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css" />
    <script src="/js/jquery.autocomplete.min.js" type="text/javascript"></script>
    <script src="/js/jquery.autogrow.js"     type="text/javascript"></script>
  <script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.5.0/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
  </script>
  <script type="text/javascript" src="/js/jquery.sidebarToggler.102.js"></script>
  <script type="text/javascript">
<!--//--><![CDATA[//><!--
$(function() {
  $("#rightcol").toggleSidebar({animation: "queuedEffects",
				initState:"shown",
				event:"click",
				triggerShow: "Menu"});
});
//--><!]]>
   </script>
<!--<![endif]-->


<script type="text/javascript">

      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37997217-1']);
          _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                          })();

                      </script>
 </head>
 <body>
   <div id="header">
     <h1><a href="/"><!-- tmpl_var name="site_title" --></a></h1>
     <ul>
       <li><a href="/about/Debian%20Administration">About</a></li>
       <li><a href="/archive/">Archive</a></li>
       <li><a href="/about/Contribute">Contribute</a></li>
       <li><a href="/about/FAQ">FAQ</a></li>
       <li><a href="/about/Search">Search</a></li>
       <li><a href="/tag/">Tags</a></li>
     </ul>
   </div>
    <div id="wrapper">
      <div id="content">
        <div id="container">
            <div id="inner">
                <div id="main">
                  <!-- tmpl_include name='###' -->
                </div>
            </div>
        </div>
        <div id="rightcol" class="side">
            <div class="slide">
              <!-- tmpl_var name="login_box_text" -->
              <!-- tmpl_var name="sidebar_text" -->
              <p>&nbsp;</p>
<!-- tmpl_if  name="show_adverts" -->
              <!-- tmpl_if name="user_adverts" -->
             <h3>Community Advert</h3>
             <p></p>
             <div class="advert" style="border: solid 1px;" onClick="document.location.href='/follow/<!-- tmpl_var name='advert_id' -->';" onMouseOver="this.style.cursor='pointer'; window.status='<!-- tmpl_var name='advert_link' -->';" onMouseOut="window.status='';">
             <p style="text-align: center;"><a href="/follow/<!-- tmpl_var name='advert_id' -->"><!-- tmpl_var name='advert_link_text' --></a></p>
             <!-- tmpl_var name='advert_text' -->
             <p style="text-align: center;"><a href="/follow/<!-- tmpl_var name='advert_id' -->"><!-- tmpl_var name='advert_link_text' --></a></p>
             </div>
        <ul>
        <li><a href="/about/FAQ%20:%20Site%20Adverts#user">What is this?</a></li>
        </ul>
        <!-- /tmpl_if -->

        <!-- tmpl_if name="google_adverts" -->
           <div class="advert">
<h3>Sponsored Links</h3>
<p></p>
<div align="center">
<script type="text/javascript"><!--
google_ad_client = "pub-1910202134166551";
//200x90, created 08/12/07
google_ad_slot = "2315151555";
google_ad_width = 200;
google_ad_height = 90;
//--></script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
           <!-- tmpl_unless name="logged_in" -->
	       <p><a href="/about/FAQ%20:%20Site%20Adverts">Why are these adverts here?</a></p>
            <!-- /tmpl_unless -->
	    </div>
	<!-- /tmpl_if -->

   <!-- /tmpl_if -->

<!-- tmpl_if name="article_admin" -->
   <h3>Administrivia</h3>
   <ul>
    <li><a href="/edit/article/<!-- tmpl_var name='article_id' -->">Edit Article</a></li>
    <li><a href="/create/related/<!-- tmpl_var name="article_id" -->">Add Related Link</a></li>
   </ul>
<!-- tmpl_else -->
   <!-- tmpl_if name='article_author' -->
   <h3>Author Links</h3>
   <ul>
   <li><a href="/edit/article/<!-- tmpl_var name='article_id' -->">Edit Article</a></li>
   </ul>
   <!-- /tmpl_if -->
<!-- /tmpl_if -->

  <!-- tmpl_if name="related" -->
   <h3>Related Links</h3>
   <ul>
   <!-- tmpl_loop name="related" -->
    <li><a href="<!-- tmpl_var name="link" -->"><!-- tmpl_var name="title" --></a> <!-- tmpl_if name="related_admin" -->[ <a href="/delete/related/<!-- tmpl_var name="article" -->/<!-- tmpl_var name="id" -->/<!-- tmpl_var name='session' -->" onClick="return( confirm('Are you sure you wish to delete this link?') );">x</a> ]<!-- /tmpl_if --></li>
  <!-- /tmpl_loop -->
   </ul>
  <!-- /tmpl_if -->

<!-- tmpl_if name='show_poll_archive' -->
 <h3>Poll Archive</h3>
<p><a href="/poll/archive">View Prior Polls</a></p>
<!-- /tmpl_if -->

<!-- tmpl_if name='recent_tags' -->
 <h3>Recent Tags</h3>
<span id="recent_tags">
<ul>
<!-- tmpl_loop name='recent_tags' -->
<li><a href="/tag/<!-- tmpl_var name='tag' escape='html' -->"><!-- tmpl_var name='tag' escape='html' --></a></li>
<!-- /tmpl_loop -->
</ul>
</span>
<!-- /tmpl_if -->


<!-- tmpl_if name='recent_tips' -->
<p>&nbsp;</p>
<div id="tipbox">
<h3>Recent Tips</h3>
<div class="weblogs">
<!-- tmpl_loop name="recent_tips" -->
	<div class="body">
	<div class="title"><a href="/users/<!-- tmpl_var name='poster' -->/weblog/<!-- tmpl_var name='id' -->"><!-- tmpl_var name='title' --></a></div>
        <div class="tagline">by <a href="/users/<!-- tmpl_var name='poster' -->"><!-- tmpl_var name='poster' --></a></div>
	<div class="comments"> <!-- tmpl_if name="comments" --> <a href="/users/<!-- tmpl_var name='poster' -->/weblog/<!-- tmpl_var name='id' -->#comments"><!-- tmpl_var name='comments' --> comment<!-- tmpl_if name='plural' -->s<!-- /tmpl_if --></a><!-- /tmpl_if --></div>
	</div>
 <!-- /tmpl_loop -->
	</div>
 </div>
<!-- /tmpl_if name='recent_tips' -->
            </div>
        </div>
      </div> <!-- end #content -->
    </div> <!-- end #wrapper -->
 <div id="footer">
<p>Articles and comments are the property of their respective posters.</p>
<p>Trademarks are the property of their respective owners.<br />  Debian is <a
href="http://tarr.uspto.gov/servlet/tarr?regser=serial&amp;entry=75386376&amp;action=Request+Status">a registered trademark</a> of <a href="http://www.spi-inc.org">Software in the Public Interest, Inc</a>.</p>
<p>This site is copyright &copy; 2004-2013 <a href="http://www.steve.org.uk/">Steve Kemp</a>.<br />Site hosting provided by <a href="http://www.bytemark.co.uk/">Bytemark Hosting</a> on the <a href="http://bigv.io/">BigV</a> platform.</p>
<p><a href="/about/Syndication">Article Feeds in Atom, RSS, &amp; RDF formats</a></p>
</div>
</body>
</html>
