<!-- tmpl_if name='logged_in' -->
 <!-- tmpl_if name='article_id' -->
  <h3 class="sideBarTitle">Bookmark</h3>
  <p><a href="/bookmark/onarticle/<!-- tmpl_var name='article_id' -->/<!-- tmpl_var name='session' -->">Bookmark this article</a></p>
 <!-- /tmpl_if -->

 <!-- tmpl_if name='poll' -->
  <h3 class="sideBarTitle">Bookmark</h3>
  <p><a href="/bookmark/onpoll/<!-- tmpl_var name='poll' -->/<!-- tmpl_var name='session' -->">Bookmark this poll</a></p>
 <!-- /tmpl_if -->

 <!-- tmpl_if name='onweblog' -->
  <h3 class="sideBarTitle">Bookmark</h3>
  <p><a href="/bookmark/onweblog/<!-- tmpl_var name='onweblog' -->/<!-- tmpl_var name='session' -->">Bookmark this weblog</a></p>
 <!-- /tmpl_if -->
<!-- /tmpl_if -->

<h3 class="sideBarTitle">Quick Site Search</h3>
 <form id="quickSearch" action="/search/" method="get">
  <p><input size="10" id="search"  name="q">
  <input type="hidden" name="cmd" value="Search!">
  <input type="submit" name="go" value="Go"></p>
 </form>

