<!-- tmpl_if name='recent_tags' -->
<ul>
<!-- tmpl_loop name='recent_tags' -->
<li><a href="/tag/<!-- tmpl_var name='tag' escape='html' -->"><!-- tmpl_var name='tag' escape='html' --></a></li>
<!-- /tmpl_loop -->
</ul>
<!-- /tmpl_if -->
