<!-- tmpl_if name='submission_notes' -->
 <dl>
  <!-- tmpl_loop name='submission_notes' -->
   <dt><a href="/users/<!-- tmpl_var name='username' -->"><!-- tmpl_var name='username' --></a> wrote on <!-- tmpl_var name='ondate' --> at <!-- tmpl_var name='attime' --></dt>
   <dd><!-- tmpl_var name='note' --></dd>
  <!-- /tmpl_loop -->
 </dl>
<!-- tmpl_else -->
 <p>There are no notes upon this submission.</p>
<!-- /tmpl_if -->
