global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        user haproxy
        group haproxy
        daemon
        maxconn 1024

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout http-request 5s
        timeout connect 5s
        timeout server 10s
        timeout client 30s


#
#  *:80
#
frontend www-http
    bind *:80
    reqadd X-Forwarded-Proto:\ http
    default_backend apache
    compression algo gzip
    compression type text/html text/plain text/javascript application/javascript application/xml text/css


#
# *:80
#
listen www-https
    bind :443 ssl crt /etc/haproxy/ssl.pem  no-tls-tickets ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-RSA-RC4-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES128-SHA:AES256-SHA256:AES256-SHA:RC4-SHA
    rspadd Strict-Transport-Security:\ max-age=31536000

    reqadd X-Forwarded-Proto:\ https
    compression algo gzip
    compression type text/html text/plain text/javascript application/javascript application/xml text/css
    default_backend apache

    stats enable
    stats hide-version
    stats scope .
    stats realm Haproxy\ Statistics
    stats uri /haproxy?front
    stats auth steve:kemp


#
# Back-End definition.
#
backend apache
    mode http
    balance roundrobin
    option http-server-close
    timeout http-keep-alive 3000
    option forwardfor
    option httpchk HEAD /cache.txt HTTP/1.1\r\nHost:\ www.debian-administration.org
    server web1 212.110.179.73:8080 check
    server web2 212.110.179.74:8080 check
    server web3 212.110.179.75:8080 check
    server web4 212.110.179.70:8080 check
    stats enable
    stats hide-version
    stats scope .
    stats realm Haproxy\ Statistics
    stats uri /haproxy?back
    stats auth steve:kemp
