#
# pound for d-a.org
#

User            "www-data"
Group           "www-data"
LogLevel        1
Alive           5
Control "/var/run/pound/poundctl.socket"


#
# Listen on the virtual IP address.
#
ListenHTTPS
        Address 212.110.179.78
        Port    443
        Cert "/etc/pound/ssl.pem"

        Client 60

        Ciphers "ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:AES128:AES256:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK "
        xHTTP           0

        #
        # Ensure we're receiving request to the canonical
        # hostname.
        #
        Service
            HeadRequire "Host: debian-administration.org"
            Redirect "https://www.debian-administration.org"
        End

        #
        # Redirect to the virtual IP HTTP, after we've done the
        # SSL negotiation.
        #
        Service
        BackEnd
            Address 212.110.179.78
            Port    80
        End
        End
End
