To: <!-- tmpl_var name="address" -->
From: <!-- tmpl_var name="sitename" --> <<!-- tmpl_var name="site_email" -->>
Subject: <!-- tmpl_var name="title" -->
X-Source: <!-- tmpl_var name='ip_address' -->

  <!-- tmpl_var name="user" --> has posted a reply to your comment at the
 Debian Administration website.

  To view the comment please click the link below:

     <!-- tmpl_var name="article_link" -->

Steve
-- 
<!-- tmpl_var name="home_url" -->
